body{
    background-color: lightskyblue;
}
.container{
    padding: 20px;
    font-size: large;
    font-family:Arial;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.center {
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}

td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
#sor{
    width: 50px;
}
#oszlop{
    width: 50px;
}